<!DOCTYPE html>
<html lang="en">
<body>
<aside th:fragment="aside">
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" th:href="@{/user/home}">
                        <i class="fa fa-dashboard"></i>
                        <span>Trang chủ</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a th:href="@{/staff/loanManager}">
                        <i class="fa fa-book"></i>
                        <span> Quản lý hồ sơ vay vốn</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a th:href="@{/staff/loanCheck}">
                        <i class="fa fa-book"></i>
                        <span> Kiểm tra giám sát các khoản vay</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a th:href="@{/staff/disbursement}">
                        <i class="fa fa-book"></i>
                        <span> Giải ngân</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- sidebar menu end-->
    </div>
</aside>
</body>
</html>