<!DOCTYPE html>
<html lang="en">
<body>
<aside th:fragment="aside">
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="index.html">
                        <i class="fa fa-dashboard"></i>
                        <span>Trang chủ</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span> Quản lý hồ sơ vay vốn</span>
                    </a>
                    <ul class="sub">
                        <li><a href="loans_profile_manager.html">Danh sách hồ sơ</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span> Kiểm tra giám sát các khoản vay</span>
                    </a>
                    <ul class="sub">
                        <li><a href="loans_profile_manager.html">Xem</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span> Giải ngân</span>
                    </a>
                    <ul class="sub">
                        <li><a href="disbursement.html"> Danh sách </a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- sidebar menu end-->
    </div>
</aside>
</body>
</html>