<!DOCTYPE html>
<html lang="en">
<body>
<section id="main-content" th:fragment="disbursement_list">
    <section class="wrapper">
        <header class="panel-heading wht-bg">
            <h4 class="gen-case">
                Giải ngân
            </h4>
        </header>
        <div class="panel panel-default">
            <div class="panel-heading" th:replace="admin/search_box :: search_box"></div>
            <div>
                <table class="table" ui-jq="footable" ui-options='{
                            "paging": {
                            "enabled": true
                            },
                            "filtering": {
                            "enabled": true
                            },
                            "sorting": {
                            "enabled": true
                            }}'>
                    <thead>
                    <tr>
                        <th data-breakpoints="xs">ID</th>
                        <th>Mã yêu cầu</th>
                        <th>Tên khách hàng</th>
                        <th>Số tiền vay</th>
                        <th>Thời hạn vay</th>
                        <th>Số tiền đã giải ngân</th>
                        <th>Số tiền chưa giải ngân</th>
                        <th>Tùy chọn</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-expanded="true" th:each="loan: ${loans}">
                        <td th:text="${loanStat.index}"></td>
                        <td th:text="${loan.id}"></td>
                        <td th:text="${loan.customer.name}"></td>
                        <td th:text="${#numbers.formatDecimal(loan.loanAmount, 1, 'DEFAULT', 2, 'DEFAULT')} + ' VND'"></td>
                        <td th:text="${loan.expectedPaymentDate}"></td>
                        <td th:text="${#numbers.formatDecimal(loan.disbursedAmount, 1, 'DEFAULT', 2, 'DEFAULT')} + ' VND'"></td>
                        <td th:text="${#numbers.formatDecimal(loan.loanAmount - loan.disbursedAmount, 1, 'DEFAULT', 2, 'DEFAULT')} + ' VND'"></td>
                        <td><a th:href="@{/staff/makeDisbursement/{id}(id=${loan.id})}" class="input-group-addon">Giải ngân</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</section>
</body>
</html>