<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section id="main-content" th:fragment="profile_list">
    <section class="wrapper">
        <header class="panel-heading wht-bg">
            <h4 class="gen-case">
                Quản lý hồ sơ vay vốn
            </h4>
        </header>
        <div class="panel panel-default">
            <div class="panel-heading" th:replace="admin/search_box :: search_box"></div>
            <div>
                <table class="table" ui-jq="footable" ui-options='{
                            "paging": {
                            "enabled": true
                            },
                            "filtering": {
                            "enabled": true
                            },
                            "sorting": {
                            "enabled": true
                            }}'>
                    <thead>
                    <tr>
                        <th data-breakpoints="xs">STT</th>
                        <th>Mã yêu cầu</th>
                        <th>Tên khách hàng</th>
                        <th>Ngày yêu cầu</th>
                        <th>Thời gian vay</th>
                        <th>Trạng thái</th>
                        <th>Tùy chọn</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-expanded="true" th:each="loan : ${loans}">
                        <td th:text="${loanStat.index + 1}"></td>
                        <td th:text="${loan.id}"></td>
                        <td th:text="${loan.customer.name}"></td>
                        <td th:text="${loan.createdDate}"></td>
                        <td th:text="${loan.dateBegin} + ' đến ' + ${loan.expectedPaymentDate}"></td>
                        <td th:switch="${loan.status}">
                            <span th:case="0">Đã từ chối</span>
                            <span th:case="1">Đang chờ duyệt</span>
                            <span th:case="2">Đã duyệt</span>
                            <span th:case="3">Đã thanh toán</span>
                        </td>
                        <td><a th:href="@{loanManager/{id}(id=${loan.id})}" class="input-group-addon">Xem chi tiết</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</section>
</body>
</html>