<!DOCTYPE html>
<body>
<section id="main-content" th:fragment="profile_details">
    <section class="wrapper">
        <div class="typo-agile">
            <header class="panel-heading wht-bg">
                <h4 class="gen-case">
                    Chi tiết hồ sơ vay vốn
                </h4>
            </header>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 profile-loans">
                <div class="image-profile">
                    <img th:src="@{/images/avart.png}" alt="">
                </div>
                <div class="stats-body">
                    <ul class="list-unstyled left-details">
                        <li>Họ tên khách hàng: <span class="pull-right detal-profile" th:text="${loan.customer.name}"></span>
                        </li>
                        <li>Ngày sinh: <span class="pull-right detal-profile" th:text="${loan.customer.birthday}"></span>
                        </li>
                        <li>Địa chỉ: <span class="pull-right detal-profile" th:text="${loan.customer.address}"></span>
                        </li>
                        <li>Email: <span class="pull-right detal-profile" th:text="${loan.customer.email}"></span>
                        </li>
                        <li>Số điện thoại: <span class="pull-right detal-profile" th:text="${loan.customer.phoneNumber}"></span>
                        </li>
                        <li class="last">Số CMND/CCCD <span class="pull-right detal-profile" th:text="${loan.customer.idCard}"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 profile-loans">
                <div class="stats-body">
                    <ul class="list-unstyled right-details list">
                        <li>Mã yêu cầu: <span class="pull-right detal-profile" th:text="${loan.id}"></span>
                        </li>
                        <li>Ngày yêu cầu: <span class="pull-right detal-profile" th:text="${loan.createdDate}"></span>
                        </li>
                        <li>Mục đích vay vốn: <span class="pull-right detal-profile" th:text="${loan.purpose}"></span>
                        </li>
                        <li>Số tiền cần vay: <span class="pull-right detal-profile" th:text="${loan.loanAmount}"></span>
                        </li>
                        <li>Ngày bắt đầu: <span class="pull-right detal-profile" th:text="${loan.dateBegin}"></span>
                        </li>
                        <li>Ngày kết thúc: <span class="pull-right detal-profile" th:text="${loan.expectedPaymentDate
}"></span>
                        </li>
                        <li>Tài sản thế chấp: <span class="pull-right detal-profile" th:text="${loan.collateral}"></span>
                        </li>
                        <li class="last" style="line-height: 20px;">Văn bản chứng minh <br> quyền sở hữu: <a href="#"
                                                                                                             class="pull-right detal-profile">Chung_minh_quyen_su_dung_dat.pdf</a>
                        </li>
                        <li>Thu nhập trung bình tháng: <span class="pull-right detal-profile" th:text="${loan.income}"></span>
                        <li class="last" style="line-height: 20px;">Văn bản chứng <br> minh thu nhập: <a href="#"
                                                                                                         class="pull-right detal-profile">Sao_ke_tai_khoan_01012020-01/02/2020.pdf</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center button-details">
                <a th:href="@{/loan/{id}/accept(id=${loan.id})}"><button class="btn btn-success "><i class="fa fa-check"></i> Xác nhận</button></a>
                <a th:href="@{/loan/{id}/deny(id=${loan.id})}"><button class="btn btn-danger"><i class="fa fa-times"></i> Từ chối</button></a>
            </div>
        </div>
    </section>
</section>
</body>
</html>