<!DOCTYPE html>
<html lang="en">
<body>
<section id="container">
    <section id="main-content" th:fragment="payment_list">
        <section class="wrapper">
            <header class="panel-heading">
                <p class="title-header">Thanh toán khoản vay</p>
            </header>
            <div class="panel panel-default">
                <div>
                    <table class="table" ui-jq="footable" ui-options='{
                            "paging": {
                            "enabled": true
                            },
                            "filtering": {
                            "enabled": true
                            },
                            "sorting": {
                            "enabled": true
                            }}'>
                        <thead>
                        <tr>
                            <th data-breakpoints="xs">ID</th>
                            <th>Mã yêu cầu</th>
                            <th>Tên khách hàng</th>
                            <th>Ngày yêu cầu</th>
                            <th>Thời gian vay</th>
                            <th>Trạng thái</th>
                            <th>Tùy chọn</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="loan : ${loans}">
                            <td><span th:text="${loanStat.index}"></span></td>
                            <td><span th:text="${loan.id}"></span></td>
                            <td><span th:text="${loan.customer.name}"></span></td>
                            <td><span th:text="${loan.createdDate}"></span></td>
                            <td><span th:text="${loan.dateBegin}"></span></td>
                            <td th:switch="${loan.status}">
                                <span th:case="1">Đang chờ duyệt</span>
                                <span th:case="2">Chưa thanh toán</span>
                                <span th:case="3">Đã thanh toán</span>
                            </td>
                            <td><a th:href="@{/customer/payment/{id}(id=${loan.id})}" class="input-group-addon">Xem chi tiết</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </section>
        <!-- footer -->
        <!-- / footer -->
    </section>
</section>
</body>
</html>