<!DOCTYPE html>
<html lang="en">
<body>
<section id="container">
    <section id="main-content" th:fragment="payment_list">
        <section class="wrapper">
            <header class="panel-heading">
                <p class="title-header">Thanh toán khoản vay</p>
            </header>
            <div class="panel panel-default">
                <div>
                    <table class="table" ui-jq="footable" ui-options='{
                            "paging": {
                            "enabled": true
                            },
                            "filtering": {
                            "enabled": true
                            },
                            "sorting": {
                            "enabled": true
                            }}'>
                        <thead>
                        <tr>
                            <th data-breakpoints="xs">ID</th>
                            <th>Mã yêu cầu</th>
                            <th>Tên khách hàng</th>
                            <th>Ngày yêu cầu</th>
                            <th>Thời gian vay</th>
                            <th>Trạng thái</th>
                            <th>Tùy chọn</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-expanded="true">
                            <td>1</td>
                            <td>VV00001</td>
                            <td>Nguyễn Văn A</td>
                            <td>23/02/2021</td>
                            <td>01/04/2021 - 01/06/2023</td>
                            <td>Chưa thanh toán</td>
                            <td><a href="customer_paymentborrow_details.html" class="input-group-addon">Xem chi tiết</a>
                            </td>
                        </tr>
                        <tr data-expanded="true">
                            <td>2</td>
                            <td>VV00001</td>
                            <td>Nguyễn Văn B</td>
                            <td>23/02/2021</td>
                            <td>01/05/2021 - 01/08/2023</td>
                            <td>Chưa thanh toán</td>
                            <td><a href="customer_paymentborrow_details.html" class="input-group-addon">Xem chi tiết</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </section>
        <!-- footer -->
        <!-- / footer -->
    </section>
</section>
</body>
</html>